---
layout: archive
title: "Seminars"
permalink: /seminars/
author_profile: true
---

This is a webpage for the joint Numerical Analysis (NA) Seminar (KTH & Stockholm University). Please email <a href="qingx@kth.se">qingx@kth.se</a> to subscribe to the mailing list <a href="na-sem@math.kth.se">na-sem@math.kth.se</a> if you would like to get weekly reminders about the seminars, or to suggest seminar speakers.

{% include base_path %}

{% for post in site.seminars %}
  {% include archive-single.html %}
{% endfor %}

